{% extends "structure.html" %}
{% load bootstrap4 %}
{% block content_body %}

<div class="col-lg-12 mt-5">
	{{ form_graphics.media }}
    <div class="card h-full">
        <div class="card-body">
            <form method="get" action="/estadisticas/">
				<div class="row justify-content-start">		
				{% for field in form_graphics %}	
					{% bootstrap_field field form_group_class="col-md-12" label_class="col-md-4" field_class="col-md-8" size="small" layout="horizontal" %}
				{% endfor %}
				</div>
				<hr />
				<button type="submit" class="btn btn-success"><i class="fa fa-pie-chart"></i> Graficar</button>
			</form>
        </div>
    </div>
</div>


{% if data_grafica != None %}
	<div class="col-lg-12 mt-5">
		<div class="card h-full">
		    <div class="card-body pb-0">
		        <div id="container"></div>
		    </div>
		</div>
	</div>

	<!-- start highcharts js -->
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<script src="https://code.highcharts.com/modules/offline-exporting.js"></script>

	{% if tipo_grafica == "B" %}
		<script type="text/javascript">

		Highcharts.chart('container', {
			chart: {
				type: 'column'
			},
			title: {
				text: '{{ data_grafica.titulo }}'
			},
			xAxis: {
				categories: [
					{% for i in data_grafica.categorias %}
						"{{ i }}",
					{% endfor %}
				],
				crosshair: true
			},
			yAxis: {
				min: 0,
				title: {
				    text: '{{ data_grafica.texto_y }}'
				}
			},
			tooltip: {
				headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
				pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
				    '<td style="padding:0"><b>{point.y}</b></td></tr>',
				footerFormat: '</table>',
				shared: true,
				useHTML: true
			},
			plotOptions: {
				column: {
				    pointPadding: 0.2,
				    borderWidth: 0
				}
			},
			series: [
				{
					name: 'Anteproyectos',
					data: [
					{% for i in data_grafica.series.anteproyectos %}
						{{ i }},
					{% endfor %}
					]
				},
				{
					name: 'Informes',
					data: [
					{% for i in data_grafica.series.informes %}
						{{ i }},
					{% endfor %}
					]
				},
				{
					name: 'TGrados',
					data: [
					{% for i in data_grafica.series.tgrados %}
						{{ i }},
					{% endfor %}
					]
				}
			]
		});
		</script>
	{% elif tipo_grafica == "P" %}
		<script type="text/javascript">
			var buttons = Highcharts.getOptions().exporting.buttons.contextButton.menuItems;
			Highcharts.chart('container', {
				chart: {
					plotBackgroundColor: null,
					plotBorderWidth: null,
					plotShadow: false,
					type: 'pie'
				},
				title: {
					text: "{{ data_grafica.titulo }}"
				},
				tooltip: {
					pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
				},
				plotOptions: {
					pie: {
						allowPointSelect: true,
						cursor: 'pointer',
						dataLabels: {
							enabled: true,
							format: '<b>{point.name}</b> - {point.percentage:.1f} %',
							style: {
							    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
							}
						}
					}
				},
				series: [{
					name: 'Cantidad',
					colorByPoint: true,
					data: [
					{% for ser in data_grafica.series %} 
						{
							name: "{{ ser.tipo }} - {{ ser.nro }}",
							y: {{ ser.nro }}
						},
					{% endfor %}
					]
				}], exporting: {
					buttons: {
						contextButton: {
						    menuItems: buttons.slice(0,3)
						}
					}
				}
			});
		</script>
	{% endif %}
{% endif %}


{% endblock %}
