{% extends "structure.html" %}
{% load bootstrap4 %}
{% block content_body %}

<div class="col-lg-12 mt-5">
	{{ form_sustentacion.media }}
    <div class="card h-full">
        <div class="card-body">
            <form method="get" action="/programacion/sustentaciones">
				<div class="row justify-content-start">		
				{% for field in form_sustentacion %}	
					{% bootstrap_field field form_group_class="col-md-12" label_class="col-md-4" field_class="col-md-8" size="small" layout="horizontal" %}
				{% endfor %}
				</div>
				<hr />
				<button type="submit" class="btn btn-primary"><i class="fa fa-comment"></i> Generar</button>
			</form>
        </div>
    </div>
</div>

{% if faltan_datos %}
	<hr />
	<div class="messageBody alert alert-primary">
		Por favor seleccione todos los datos del formulario
	</div>
{% endif %}

{% if sustentaciones != None %}
<div class="col-lg-12 mt-5">
	<h2><center>Horas calculadas...</center></h2>
	{% if len_no > 0 %}
		<div class="messageBody alert alert-danger">
			Hubieron {{ len_no }} trabajos de grado que no pudieron ser procesados.
		</div>
	{% endif %}
	<div id="guardados" class="messageBody alert alert-success">
		Datos guardados con éxito
	</div>
	<div id="error_guardados" class="messageBody alert alert-danger">
		Hubo un error al guardar los datos
	</div>
	{% for sus in sustentaciones %}
		<div class="card">
			<div class="card-header border-success text-success">
			</div>
			<div class="card-body">
				<h5>{{ sus.tgrado.titulo }}</h5>
				<input type='datetime' id="hola" class='dateSelected form-control form-control-sm' tgrado_id='{{ sus.tgrado.pk }}' value='{{ sus.hora }}'> <input type="text" name="lugar" value="{{ lugar }}" class="lugar_{{ sus.tgrado.pk }} form-control form-control-sm">
			</div>
		</div>
	{% endfor %}
	<hr />
	<a href="#" class="btn btn-success" id="definirFechas" ><i class="fa fa-check"></i> Establecer como horas definitivas</a>	
</div>

{% endif %}

{% endblock %}

