<!doctype html>
<html class="no-js" lang="es">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Bdtgrado :: Recuperar contraseña</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load static %}
	<link rel="shortcut icon" type="image/png" href="assets/images/icon/favicon.ico">
	<link rel="stylesheet" href="{% static "/assets/css/bootstrap.min.css" %}">
	<link rel="stylesheet" href="{% static "/assets/css/font-awesome.min.css" %}">
	<link rel="stylesheet" href="{% static "/assets/css/themify-icons.css" %}">
	<link rel="stylesheet" href="{% static "/assets/css/metisMenu.css" %}">
	<link rel="stylesheet" href="{% static "/assets/css/owl.carousel.min.css" %}">
	<link rel="stylesheet" href="{% static "/assets/css/slicknav.min.css" %}">
	<!-- amchart css -->
	<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
	<!-- others css -->
	<link rel="stylesheet" href="{% static "/assets/css/typography.css" %}">
	<link rel="stylesheet" href="{% static "/assets/css/default-css.css" %}">
	<link rel="stylesheet" href="{% static "/assets/css/styles.css" %}">
	<link rel="stylesheet" href="{% static "/assets/css/responsive.css" %}">
	<!-- modernizr css -->
	<script src="{% static "/assets/js/vendor/modernizr-2.8.3.min.js" %}"></script>
	<link rel="icon" href="{% static "/assets/images/icon/page.png" %}">
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- preloader area start -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- login area start -->
    <div class="login-area login-bg">
        <div class="container">
            <div class="login-box ptb--100">
                <form action="/recover/pass/code" method="{% if code_valid %}post{% else %}get{% endif %}">
                	{% if code_valid %}
						{% csrf_token %}
					{% endif %}
                    <div class="login-form-head">
                        <h4>Recuperar contraseña</h4>
                        {% if code_valid %}
    	                    <p>{{ nombre_usuario }}, escriba su nueva contraseña</p>
                        {% else %}
	                        <p>Escriba el código que se le envió al correo electrónico para continuar.</p>
                        {% endif %}
                    </div>
                    <div class="login-form-body">
                    	{% if error != None %}
		                	{% if error %}
								<div id="messageBody" class="messageBody alert alert-danger">
									{{ mensaje }}
								</div>
							{% elif not error %}
								<div id="messageBody" class="messageBody alert alert-success">
									{{ mensaje }}
								</div>
							{% endif %}
							<hr />
						{% endif %}
                        
                        {% if code_valid %}
                        	<div class="form-gp">
		                        <label for="pass1">Nueva contraseña</label>
		                        <input type="password" id="pass1" name="pass1">
		                        <i class="ti-lock"></i>
		                    </div>
                        	<div class="form-gp">
		                        <label for="pass2">Repita la contraseña</label>
		                        <input type="password" id="pass2" name="pass2">
		                        <i class="ti-lock"></i>
		                    </div>
		                    <input type="hidden" id="codigo" autocomplete="off" name="codigo" value="{{ codigo }}">
		                    <input type="hidden" id="change_pass" autocomplete="off" name="change_pass" value="change_pass">
                        {% else %}
			            	<div class="form-gp">
			                    <label for="codigo">Código</label>
			                    <input type="text" id="codigo" autocomplete="off" name="codigo">
			                    <i class="ti-lock"></i>
			                </div>
			            {% endif %}
                        
                        <div class="submit-btn-area">
                            <button id="form_submit" type="submit">Realizar petición <i class="ti-arrow-right"></i></button>
                        </div>
                        <div class="form-footer text-center mt-5">
                            <p class="text-muted">¿Ya tienes una cuenta? <a href="/index">Inicia sesión</a></p>
                            <p class="text-muted">¿No tienes código? <a href="/recover/pass">Solicita un código</a></p>
                        </div>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- login area end -->

    <!-- jquery latest version -->
    <script src="{% static "/assets/js/vendor/jquery-2.2.4.min.js" %}"></script>
    <!-- bootstrap 4 js -->
    <script src="{% static "/assets/js/popper.min.js" %}"></script>
    <script src="{% static "/assets/js/bootstrap.min.js" %}"></script>
    <script src="{% static "/assets/js/owl.carousel.min.js" %}"></script>
    <script src="{% static "/assets/js/metisMenu.min.js" %}"></script>
    <script src="{% static "/assets/js/jquery.slimscroll.min.js" %}"></script>
    <script src="{% static "/assets/js/jquery.slicknav.min.js" %}"></script>
    
    <!-- others plugins -->
    <script src="{% static "/assets/js/plugins.js" %}"></script>
    <script src="{% static "/assets/js/scripts.js" %}"></script>
</body>

</html>

