<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//ES" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="es">

	<head>
		<meta name="tipo_contenido"  content="text/html;" http-equiv="content-type" charset="utf-8">
		<title>Informe PDF por bdtgrado</title>
		{% load static %}
		<link rel="stylesheet" href="{% static "/custom_assets/css/style_pdf.css" %}">
		
		<style>
			/*@page {
				size: letter landscape;
				margin: 1cm;
			}*/
		</style>
		
	</head>

	<body>
		<header>
			<table width="100%" class="tableCabecera">
				<tbody>
					<tr>
						<td style="width:120px"><img class="imagenCabecera" src="{{escudo_izquierda}}"/></td>
						<td>
							{% autoescape off %}{{ cabecera }}{% endautoescape %}
							<p>Informe correspondiente al rango de fechas [{{fecha_desde}} - {{fecha_hasta}}]</p>
						</td>
						{% if escudo_derecha != None %}
							<td style="width:120px"><img class="imagenCabecera" src="{{escudo_derecha}}"/></td>
						{% else %}
							<td style="width:20%"></td>
						{% endif %}
					</tr>
				</tbody>
			</table>		
		</header>
		<p class="fecha_impresion"><b>Fecha de impresión: </b>{% now "d F Y h:i A" %}</p>
		
		<h2 style="text-align:center;">Anteproyectos</h2>
		<table>
			<thead>
				<tr class="header_color">
					<th colspan="5">Recibidos</th>
				</tr>
				<tr>
					<th>Modalidad</th>
					<th>Título</th>
					<th>Estudiantes</th>
					<th>Director</th>
					<th>Fecha</th>
				</tr>
			</thead>
			<tbody>
				{% for a_r in anteproyectos_recibidos %}
					<tr>
						<td>{{ a_r.tgrado.get_modalidad }}</td>
						<td>{{ a_r.tgrado.titulo }}</td>
						<td>{{ a_r.tgrado.returnEstudiantes }}</td>
						<td>{{ a_r.tgrado.director }}</td>
						<td>{{ a_r.fecha_ingreso }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<br />
		<table>
			<thead>
				<tr class="header_color">
					<th colspan="6">Evaluadores asignados</th>
				</tr>
				<tr>
					<th>Modalidad</th>
					<th>Título</th>
					<th>Estudiantes</th>
					<th>Director</th>
					<th>Evaluador</th>
					<th>Fecha</th>
				</tr>
			</thead>
			<tbody>
				{% for con_rec in evaluadores_asignados %}
					<tr>
						<td>{{ con_rec.anteproyecto.tgrado.get_modalidad }}</td>
						<td>{{ con_rec.anteproyecto.tgrado.titulo }}</td>
						<td>{{ con_rec.anteproyecto.tgrado.returnEstudiantes }}</td>
						<td>{{ con_rec.anteproyecto.tgrado.director }}</td>
						<td>{{ con_rec.evaluador }}</td>
						<td>{{ con_rec.fecha_asignacion }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<br />
		<table>
			<thead>
				<tr class="header_color">
					<th colspan="4">Estados</th>
				</tr>
				<tr>
					<th>Modalidad</th>
					<th>Título</th>
					<th>Evaluador</th>
					<th>Estado</th>
				</tr>
			</thead>
			<tbody>
				{% for con_rec in estado_anteproyectos %}
					<tr>
						<td>{{ con_rec.modalidad }}</td>
						<td>{{ con_rec.tgrado_titulo }}</td>
						<td>{{ con_rec.evaluador }}</td>
						<td>{{ con_rec.concepto }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		
		<br />
		<table>
			<thead>
				<tr class="header_color">
					<th colspan="4">Aprobados</th>
				</tr>
				<tr>
					<th>Modalidad</th>
					<th>Título</th>
					<th>Evaluador</th>
					<th>Estado</th>
				</tr>
			</thead>
			<tbody>
				{% for con_rec in anteproyectos_aprobados %}
					<tr>
						<td>{{ con_rec.modalidad }}</td>
						<td>{{ con_rec.tgrado_titulo }}</td>
						<td>{{ con_rec.evaluador }}</td>
						<td>{{ con_rec.concepto }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		
		<br />
		<table>
			<thead>
				<tr class="header_color">
					<th colspan="4">Aplazados</th>
				</tr>
				<tr>
					<th>Modalidad</th>
					<th>Título</th>
					<th>Evaluador</th>
					<th>Estado</th>
				</tr>
			</thead>
			<tbody>
				{% for con_rec in anteproyectos_aplazados %}
					<tr>
						<td>{{ con_rec.modalidad }}</td>
						<td>{{ con_rec.tgrado_titulo }}</td>
						<td>{{ con_rec.evaluador }}</td>
						<td>{{ con_rec.concepto }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		
	</body>
	

</html>


