
{% if delete_register %}
	<!-- The Modal Delete -->
	<div class="modal fade" id="modalDelete">
		<div class="modal-dialog">
			<div class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">Eliminar {{register_name}}</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<!-- Modal body -->
				<form method="post" class="formSendAjax" action="{{ form_action }}">
					<div class="modal-body">
						¿Está seguro que desea eliminar este {{register_name}}?
					</div>

					<!-- Modal footer -->
					<div class="modal-footer">
						<!-- Hidden Params -->
						<input type="hidden" name="ajax_action" value="eliminar_modal">
						<input type="hidden" name="object_id" id="delete_object_id" value="">
						<!-- Buttons -->
						<button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> Si, eliminar</button>
						<button type="reset" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-ban"></i> Cancelar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endif %}
