{% load bootstrap4 %}

{% if form_edit %}
	{{ form_edit.media }}
	<!-- The Modal Add -->
	<div class="modal fade" id="modalEdit">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">Editar registro <string id="id_json_register_name"></string></h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<!-- Modal body -->
				<form method="post" class="formSendAjax form_editar_method" action="{{ form_action }}" enctype="multipart/form-data">
					<div class="modal-body">
						<div class="row justify-content-start">
						{% for field in form_edit %}
							{% bootstrap_field field form_group_class="col-md-6" label_class="col-md-4" field_class="col-md-8" size="small" layout="horizontal" %}
						{% endfor %}
						</div>
					</div>
					<!-- Modal footer -->
					<div class="modal-footer">
						<!-- Hidden Params -->
						<input type="hidden" name="ajax_action" value="editar_modal">
						<input type="hidden" id="id_object_id" name="object_id" value="">
						<!-- Buttons -->
						<button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Editar</button>
						<button type="reset" id="button_cancel_edit" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i> Cancelar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endif %}
