{% load bootstrap4 %}
{% if form_usuario %}
	{{ form_usuario.media }}
	<!-- The Modal Add -->
	<div class="modal fade" id="nuevoUsuarioTgrado" tabindex="-1">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">Añadir <string id="tipo_title">estudiante</string></h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<!-- Modal body -->
				<form method="post" class="formSendAjax" action="/json/addData">
					<div class="modal-body">
						<div class="row justify-content-start">
						{% for field in form_usuario %}
							{% bootstrap_field field form_group_class="col-md-12" label_class="col-md-4" field_class="col-md-8" size="small" layout="horizontal" %}
						{% endfor %}
						</div>
					</div>
					<!-- Modal footer -->
					<div class="modal-footer">
						<!-- Hidden Params -->
						<input type="hidden" name="ajax_action" value="agregar_modal">
						<input type="hidden" name="tipo_add" id="tipo_add" value="add_estudiante">
						<!-- Buttons -->
						<button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Añadir</button>
						<button type="reset" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i> Cancelar</button>
					</div>
				</form>
			</div>
		</div>
	</div>

{% endif %}
