{% extends "blog/blog_structure.html" %}
{% block content_blog %}
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
	<header>
		<h2>Banco de proyectos de grado</h2>
		<p>Conoce las ideas de proyectos de grado disponibles.</p>
	</header>

	<div class="box">
		{% for bn in lista_banco %}
				{% if bn.es_activo %}
					<strong style="color:green;">Activo</strong> - {{ bn.titulo }}
				{% else %}
					<strong style="color:red;">Inactivo</strong> - {{ bn.titulo }}
				{% endif %}
				<blockquote>
					{{ bn.descripcion }}<br />
					<sub><i>{{ bn.proponente }} - {{ bn.correo_proponente }} ({{ bn.grupo }}), {{ bn.modalidad }} ({{ bn.fecha_modificacion }})</i></sub>
				</blockquote>
			<hr />
		{% endfor %}

		{% if banco.has_other_pages %}
			<ul class="pagination">
				{% if banco.has_previous %}
					<li class="page-item"><a class="page-link" href="?page={{ banco.previous_page_number }}">&laquo;</a></li>
				{% else %}
					<li class="page-item disabled"><a class="page-link">&laquo;</a></li>
				{% endif %}
				{% for i in banco.paginator.page_range %}
					{% if banco.number == i %}
						<li class="page-item active"><a class="page-link">{{ i }}</a></li>
					{% else %}
						<li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
					{% endif %}
				{% endfor %}
				{% if banco.has_next %}
					<li class="page-item"><a class="page-link" href="?page={{ banco.next_page_number }}">&raquo;</a></li>
				{% else %}
					<li class="page-item disabled"><a class="page-link">&raquo;</a></li>
				{% endif %}
			</ul>
		{% endif %}
	</div>
</div>
{% endblock %}
