{% load static %}
<!DOCTYPE HTML>
<!--
	Alpha by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html lang="es">
	<head>
		<title>BdTgrado :: {{ page_title }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{% static "/blog/assets/css/main.css" %}" />

		{% for file in css_files %}
		<link href="{% static "/custom_assets/css/"|add:file %}" rel="stylesheet">
		</link>
		{% endfor %}
      <link rel="icon" href="{% static "/assets/images/icon/page.png" %}">
	</head>
	<body class="landing is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1><a href="/blog">BdTgrado</a> Universidad del Quindío</h1>
					<nav id="nav">
						<ul>
							<li><a href="/">Inicio</a></li>
							<li><a href="/blog/procedimientos">Procedimientos</a></li>
							<li><a href="/blog/sustentaciones">Sustentaciones</a></li>
							<li><a href="/blog/banco">Banco</a></li>
							<li><a href="/blog/calendario">Calendario</a></li>
							{% if menu %}
							<li>
								<a href="#" class="icon solid fa-angle-down">Páginas</a>
								<ul>
									{% for me in menu %}
										<li><a href="{{ me.url }}">{{ me.label }}</a></li>
									{% endfor %}
								</ul>
							</li>
							{% endif %}
							{% if is_logged %}
								<li><a href="/index" class="button">Ver mi perfil</a></li>
							{% else %}
								<li><a href="/index" class="button">Iniciar Sesión</a></li>
							{% endif %}
						</ul>
					</nav>
				</header>

			<!-- Banner -->
				{% if is_main %}
				<section id="banner">
					<h2>BD tgrado Universidad del Quindío</h2>
					<p>Página pública del comité de trabajos de grado de Ingeniería Electrónica de la Universidad del Quindío.</p>
					<ul class="actions special">
						<li><a href="/index" class="button primary">Iniciar Sesión</a></li>
						<li><a href="/blog/procedimientos" class="button">Procedimientos de tgrado</a></li>
					</ul>
				</section>
				{% endif %}


			<!-- Main -->
				<section id="main" class="container medium">

					{% block content_blog %}{% endblock %}

				</section>

			<!-- Footer -->
				<footer id="footer">
					<ul class="copyright">
						<li>&copy; BdTgrado :: Universidad del Quindío. Todos los derechos reservados.</li><li>Plantilla diseñada por: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="{% static "/blog/assets/js/jquery.min.js" %}"></script>
			<script src="{% static "/blog/assets/js/jquery.dropotron.min.js" %}"></script>
			<script src="{% static "/blog/assets/js/jquery.scrollex.min.js" %}"></script>
			<script src="{% static "/blog/assets/js/browser.min.js" %}"></script>
			<script src="{% static "/blog/assets/js/breakpoints.min.js" %}"></script>
			<script src="{% static "/blog/assets/js/util.js" %}"></script>
			<script src="{% static "/blog/assets/js/main.js" %}"></script>

			<script src="{% static "/custom_assets/js/page_handler.js" %}"></script>
			{% for file in js_files %}
			<script src="{% static "/custom_assets/js/"|add:file %}"></script>
			{% endfor %}
	</body>
</html>
