{% extends "blog/blog_structure.html" %}
{% load static %}

{% block content_blog %}
	<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
	<header>
		<h2>Calendario del comité</h2>
		<p>Encuentra los planes que tenemos en las próximas fechas, además de fechas pasadas que pueden ser de interés.</p>
	</header>

	<div id='calendar'></div>
	<div style='clear:both'></div>

{% endblock %}
