{% extends "blog/blog_structure.html" %}
{% load static %}

{% block content_blog %}
	<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
	<header>
		<h2>Ayuda en el proceso de ingreso</h2>
	</header>
	<div class="box">
		En el siguiente video se muestra un paso a paso en el proceso de un trabajo de grado.
		<iframe src="https://drive.google.com/file/d/1xW__J6wEe9yvBiRHZJJxKb2wAbv2vBXQ/preview" width="640" height="480"></iframe>
	</div>
{% endblock %}
