{% extends "blog/blog_structure.html" %}
{% load static %}

{% block content_blog %}

		<section class="box special">
			<header class="major">
				<h2>Bienvenido a la página del comité de trabajos de grado del programa Ingeniería Electrónica de la Universidad del Quindío</h2>
				<p>Aquí encontrarás información de interés sobre los procedimientos de trabajos de grado, las fechas de próximas sustentaciones y el lugar, además de un calendario que te permite conocer los planes del comité.</p>
			</header>
			<span class="image featured"><img src="{% static "/blog/images/pic01.jpg" %}" alt="" /></span>
		</section>


		<div class="row">
			<div class="col-6 col-12-narrower">
				<section class="box special">
					<span class="image featured"><img src="{% static "/blog/images/calendario.png" %}" alt="" /></span>
					<h3>Calendario</h3>
					<p>Encuentra los planes que tenemos en las próximas fechas, además de fechas pasadas que pueden ser de interés.</p>
					<ul class="actions special">
						<li><a href="/blog/calendario" class="button alt">Ver más</a></li>
					</ul>
				</section>
			</div>
			<div class="col-6 col-12-narrower">
				<section class="box special">
					<span class="image featured"><img src="{% static "/blog/images/adicional.jpg" %}" alt="" /></span>
					<h3>Procedimientos</h3>
					<p>Conoce el procedimiento de todas las fases de un trabajo de grado, desde la presentación del anteproyecto hasta la sustentación.</p>
					<ul class="actions special">
						<li><a href="/blog/procedimientos" class="button alt">Ver más</a></li>
					</ul>
				</section>
			</div>
		</div>


{% endblock %}
