{% extends "blog/blog_structure.html" %}
{% load static %}

{% block content_blog %}
	{% if can_view %}
		<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
		<header>
			<h2>{{ titulo }}</h2>
			<p><b>Fecha de edición: </b> {{ fecha_edicion }}</p>
		</header>
		<div class="box">
			{% if imagen != None and imagen != "" %}
				<span class="image fit">
					<img src="{{ imagen.url }}">
				</span>
			{% endif%}
			{% autoescape off %}{{ pagina }}{% endautoescape %}
		</div>
	{% else %}
		<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
		<header>
			<h2>Error al cargar la noticia</h2>
		</header>
		<div class="box">
			No puedes ver esta página <br />
			<a href="/blog">Volver al inicio</a>
		</div>
	{% endif %}

{% endblock %}
