{% extends "blog/blog_structure.html" %}
{% load static %}

{% block content_blog %}

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<header>
	<h2>Procedimiento para los trabajos de grado</h2>
	<p>Revisa el paso a paso para presentar el anteproyecto y el informe final del trabajo de grado.</p>
</header>
<div class="box">
	{% autoescape off %}{{ procedimiento }}{% endautoescape %}
</div>


{% endblock %}
