{% extends "blog/blog_structure.html" %}
{% load static %}

{% block content_blog %}
	<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
	<header>
		<h2>Programación de sustentaciones</h2>
		<p>Encuentra la programación de las próximas sustentaciones de informes finales.</p>
	</header>

	<div class="box">
	{% if lista|length > 0 %}
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Fecha</th>
						<th>Lugar</th>
						<th>Título</th>
						<th>Modalidad</th>
						<th>Estudiantes</th>
						<th>Director</th>
						<th>Evaluadores</th>
					</tr>
				</thead>

				<tbody>
					{% for l in lista %}
						<tr>
							<td>{{ l.fecha_sustentacion }}</td>
							<td>{{ l.lugar_sustentacion }}</td>
							<td>{{ l.titulo }}</td>
							<td>{{ l.modalidad }}</td>
							<td>
								{% for est in l.estudiantes %}
									{% autoescape off %}{{ est }}{% endautoescape %} <br />
								{% endfor %}
							</td>
							<td>{{ l.director }}</td>
							<td>
								{% for eva in l.evaluadores %}
									{{ eva }} <br />
								{% endfor %}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	{% else %}
		No hay sustentaciones activas en este momento
	{% endif %}
	</div>
{% endblock %}
