{% extends "structure.html" %}
{% block content_body %}
{% load static %}
{% load bootstrap4 %}

{% if form_change_pass %}
	{{ form_change_pass.media }}
	<div class="modal fade" id="editContrasena">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Editar contaseña del usuario</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<form method="post" action="{{ form_action }}">
					{% csrf_token %}
					<div class="modal-body">
						<div id="messageBody" class="messageBody alert alert-primary">
							Ingrese la nueva contraseña en 2 veces para evitar errores.
						</div>
						<div class="row justify-content-start">
						{% for field in form_change_pass %}
							{% bootstrap_field field form_group_class="col-md-12" label_class="col-md-4" field_class="col-md-8" size="small" layout="horizontal" %}
						{% endfor %}
						</div>
					</div>
					<div class="modal-footer">
						<input type="hidden" name="tipoForm" value="editData">
						<input type="hidden" name="tipoEdit" value="password">
						<input type="hidden" name="object_id" value="{{ user_data.pk }}">
						<button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Editar</button>
						<button type="reset" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i> Cancelar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endif %}

{% if form_edit_user %}
	{{ form_edit_user.media }}
	<div class="modal fade" id="editUser">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Editar datos del usuario</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<form method="post" action="{{ form_action }}">
					{% csrf_token %}
					<div class="modal-body">
						<div class="row justify-content-start">
						{% for field in form_edit_user %}
							{% bootstrap_field field form_group_class="col-md-12" label_class="col-md-4" field_class="col-md-8" size="small" layout="horizontal" %}
						{% endfor %}
						</div>
					</div>
					<div class="modal-footer">
						<input type="hidden" name="tipoForm" value="editData">
						<input type="hidden" name="tipoEdit" value="user_data">
						<input type="hidden" name="object_id" value="{{ user_data.pk }}">
						<button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Editar</button>
						<button type="reset" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i> Cancelar</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="modal fade" id="editEmail">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Editar Email</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<form method="post" action="{{ form_action }}">
					{% csrf_token %}
					<div class="modal-body" style="padding:5px 20px;">
						<div class="col-md-12 row">
							<label class="col-md-4" for="id_first_name">Email</label>
							<div class="col-md-4">
								<input type="text" name="email" value="{{ user_data.email }}" maxlength="30" class="form-control form-control-sm" placeholder="Email" title="">
							</div>
							{% if user_data.es_estudiante %}
								<div class="col-md-4">
									<div class="input-group-prepend">
										<div class="input-group-text">@uqvirtual.edu.co</div>
									</div>
								</div>
							{% endif %}
						</div>

					</div>
					<div class="modal-footer">
						<input type="hidden" name="tipoForm" value="editData">
						<input type="hidden" name="tipoEdit" value="email">
						<input type="hidden" name="object_id" value="{{ user_data.pk }}">
						<button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Editar</button>
						<button type="reset" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i> Cancelar</button>
					</div>
				</form>
			</div>
		</div>
	</div>

{% endif %}




{% if form_edit_avatar %}
	{{ form_edit_avatar.media }}
	<div class="modal fade" id="editAvatar">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Editar avatar usuario</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<form method="post" action="{{ form_action }}" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="modal-body">
						<div class="row justify-content-start">
						{% for field in form_edit_avatar %}
							{% bootstrap_field field form_group_class="col-md-12" label_class="col-md-4" field_class="col-md-8" size="small" layout="horizontal" %}
						{% endfor %}
						</div>
					</div>
					<div class="modal-footer">
						<input type="hidden" name="tipoForm" value="editData">
						<input type="hidden" name="tipoEdit" value="user_avatar">
						<input type="hidden" name="object_id" value="{{ user_data.pk }}">
						<button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Editar</button>
						<button type="reset" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i> Cancelar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endif %}

{% if form_edit_estado_academico %}
	{{ form_edit_estado_academico.media }}
	<div class="modal fade" id="editEA">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Editar estado académico</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<form method="post" action="{{ form_action }}" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="modal-body">
						<div class="row justify-content-start">
						{% for field in form_edit_estado_academico %}
							{% bootstrap_field field form_group_class="col-md-12" label_class="col-md-4" field_class="col-md-8" size="small" layout="horizontal" %}
						{% endfor %}
						</div>
					</div>
					<div class="modal-footer">
						<input type="hidden" name="tipoForm" value="editData">
						<input type="hidden" name="tipoEdit" value="estado_academico">
						<input type="hidden" name="usuario_id" value="{{ user_data.pk }}">
						{% if estado_academico != None %}
							<input type="hidden" name="object_id" value="{{ estado_academico.pk }}">
						{% endif %}
						<button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Editar</button>
						<button type="reset" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i> Cancelar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endif %}

<div class="row">
	<div class="col-md-4">
		<div class="card">
			<div class="card-body">
				{% if user_data.avatar != None and user_data.avatar != "" %}
					<img src="{{ user_data.avatar.url }}" class="col-md-12">
				{% else %}
					<img src="{% static "/assets/images/profile/person-icon.png" %}" class="col-md-12">
				{% endif%}
				{% if form_edit_avatar %}
					<a href="#" data-toggle="modal" data-target="#editAvatar" class="btn btn-info btn-sm" title="Editar foto de perfil"> <i class="fa fa-pencil"></i> </a>
				{% endif %}
				<hr />
				<h5>{{ user_data.full_name }}</h5>
			</div>
		</div>
		<hr />
		<div class="card">
			<div class="card-body">
				{% if user_data.es_admin %}
					<p>Administrador</p>
				{% endif %}
				{% if user_data.es_evaluador %}
					<p>Evaluador</p>
				{% endif %}
				{% if user_data.es_estudiante %}
					<p>Estudiante</p>
				{% endif %}
			</div>
		</div>
		{% if form_change_pass %}
			<hr />
			<div class="card">
				<div class="card-body">
					<h5>Datos de inicio de sesión:</h5><hr />
					<b><i class="fa fa-user"></i> Nombre de usuario: </b> <br />{{ user_data.username }}<br /><hr />
					<button class="btn btn-warning" title="Editar contraseña" data-toggle="modal" data-target="#editContrasena"><i class="fa fa-key"></i> Editar contraseña</button>
				</div>
			</div>
		{% endif %}
	</div>

	<div class="col-md-8">
		<div class="card">
			<div class="card-body">
				<h4 class="header-title">Datos Personales
					{% if form_edit_user %}
						<button class="btn btn-xs btn-info" title="Editar datos" data-toggle="modal" data-target="#editUser"><i class="fa fa-pencil"></i></button>
					{% endif %}
				</h4>
				{% if ver_sensible %}
					<div class="row">
						<div class="col-md-4 text-right"><b><i class="fa fa-user"></i> Nombre de usuario: </b></div><div class="col-md-8"></span>{{ user_data.username }}</div>
					</div>
					<div class="row">
						<div class="col-md-4 text-right"><b><i class="ti-id-badge"></i> Documento: </b></div><div class="col-md-8"></span>{{ user_data.documento }}</div>
					</div>
				{% endif %}

				<div class="row">
					<div class="col-md-4 text-right"><b><i class="fa fa-venus-mars"></i> Género: </b></div><div class="col-md-8">{{ user_data.genero }}</div>
				</div>
				{% if ver_sensible %}
					<div class="row">
						<div class="col-md-4 text-right"><b><i class="fa fa-phone"></i> Teléfono: </b></div><div class="col-md-8">{{ user_data.telefono }}</div>
					</div>
					<div class="row">
						{% if user_data.red_social != None and user_data.red_social != "" %}
							<div class="col-md-4 text-right"><b><i class="fa fa-at"></i> Red social: </b></div><div class="col-md-8"><a href="{{ user_data.red_social }}" target="blank">{{ user_data.red_social }}</a></div>
						{% else %}
							<div class="col-md-4 text-right"><b><i class="fa fa-at"></i> Red social: </b></div><div class="col-md-8">{{ user_data.red_social }}</div>
						{% endif %}
					</div>
				{% endif %}
				<div class="row">
					<div class="col-md-4 text-right"><b><i class="fa fa-calendar"></i> Fecha registro: </b></div><div class="col-md-8">{{ user_data.creation_date }}</div>
				</div>
				<div class="row">
					<div class="col-md-4 text-right"><b><i class="fa fa-calendar-o"></i> Fecha de último ingreso: </b></div><div class="col-md-8">{{ user_data.last_login }}</div>
				</div>

			</div>
		</div>


		<hr />
		<div class="card">
			<div class="card-body">
				<div class="row">
					{% if form_edit_user %}
						<div class="col-md-1 text-right">
							<button class="btn btn-xs btn-primary" title="Editar correo electrónico" data-toggle="modal" data-target="#editEmail"><i class="fa fa-pencil"></i></button>
						</div>
					{% endif %}
					{% if user_data.es_estudiante %}
						<div class="col-md-3 text-right"><b><i class="ti-email"></i> Email: </b></div><div class="col-md-8">{{ user_data.email }}@uqvirtual.edu.co</div>
					{% else %}
						<div class="col-md-3 text-right"><b><i class="ti-email"></i> Email: </b></div><div class="col-md-8">{{ user_data.email }}</div>
					{% endif %}
				</div>
			</div>
		</div>
		{% if user_data.es_estudiante %}
			<hr />
			<div class="card">
				<div class="card-body">
					<h4 class="header-title">Estado académico</h4>
					{% if estado_academico != None %}
						<div class="row">
							{% if estado_academico.estado_academico != None and estado_academico.estado_academico != "" %}
								<div class="col-md-4 text-right"><b>Archivo </b></div><div class="col-md-8"></span><a href="{{ estado_academico.estado_academico.url }}" target="blank"> Descargar</a></div>
                            {% endif %}
						</div>
						<div class="row">
							<div class="col-md-4 text-right"><b>Fecha edición </b></div><div class="col-md-8"></span>{{ estado_academico.fecha_edicion }}</div>
						</div>
					{% else %}
						<div class="row">
							No hay un archivo aún.
						</div>
						<hr />
					{% endif %}
					{% if form_edit_estado_academico %}
						<button class="btn btn-xs btn-info" title="Editar estado académico" data-toggle="modal" data-target="#editEA"><i class="fa fa-pencil"></i></button>
					{% endif %}
				</div>
			</div>
		{% endif %}
		{% if user_data.es_evaluador %}
			<hr />
			<div class="col-lg-12 mt-5">
				<div class="card h-full">
					<div class="card-body pb-0">
						<div id="container"></div>
					</div>
				</div>
			</div>

			<!-- start highcharts js -->
			<script src="https://code.highcharts.com/highcharts.js"></script>
			<script src="https://code.highcharts.com/modules/exporting.js"></script>
			<script src="https://code.highcharts.com/modules/export-data.js"></script>


			<script type="text/javascript">


				Highcharts.chart('container', {
					chart: {
						plotBackgroundColor: null,
						plotBorderWidth: null,
						plotShadow: false,
						type: 'pie'
					},
					title: {
						text: 'Trabajos de grado'
					},
					tooltip: {
						pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
					},
					plotOptions: {
						pie: {
							allowPointSelect: true,
							cursor: 'pointer',
							dataLabels: {
								enabled: true,
								format: '<b>{point.name}</b> - {point.percentage:.1f} %',
								style: {
								    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
								}
							}
						}
					},
					series: [{
						name: 'Cantidad',
						colorByPoint: true,
						data: [{
							name: 'Dirigidos: {{ dirigidos }}',
							y: {{ dirigidos }},
							sliced: true,
							selected: true
						}, {
							name: 'Co - Dirigidos: {{ codirigidos }}',
							y: {{ codirigidos }},
							sliced: true,
							selected: true
						},{
							name: 'Asesorados: {{ asesorados }}',
							y: {{ asesorados }}
						}, {
							name: 'Anteproyectos evaluados: {{ evaluados_anteproyectos }}',
							y: {{ evaluados_anteproyectos }}
						}, {
							name: 'Informes evaluados: {{ evaluados_informes }}',
							y: {{ evaluados_informes }}
						}]
					}]
				});
			</script>

		{% endif %}

		{% if user_data.es_estudiante and lista_tgrados %}
			<hr />
			<div class="card">
				<div class="card-body">
					<h4 class="header-title">Trabajos de grado</h4>
					<div class="list-group">
					{% for tgrado in lista_tgrados %}
						<a class="list-group-item" href="/tgrado/view/{{ tgrado.pk }}" title="Visitar tgrado">
							{{ tgrado.titulo }}
						</a>
					{% endfor %}
					</div>
				</div>
			</div>
		{% endif %}
	</div>

</div>



{% endblock %}
