{% load bootstrap4 %}
<br />
<div class="card">
    <div class="card-body">
		<button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalBorrador">
			<i class="fa fa-exchange"></i> Cambiar de borrador
		</button>
    </div>
</div>


<div class="modal fade" id="modalBorrador">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title">Seleccionar borrador (Opcional)</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<!-- Modal body -->			
			<form method="get" action="{{ form_action }}">
				<div class="modal-body">
					<div id="messageBody" class="messageBody alert alert-info">
						Esta opción carga en el formulario un borrador previamente creado y así evitar gastos de tiempo en la escritura de cada correo
					</div>
					{% for field in form_borrador %}	
						{% bootstrap_field field form_group_class="col-md-12" field_class="col-md-8" label_class="col-md-4" size="small" layout="horizontal" %}
					{% endfor %}
				</div>
				
				<!-- Modal footer -->
				<div class="modal-footer">
					<button type="submit" class="btn btn-success"><i class="fa fa-exchange"></i> Cargar al formulario</button>
					<button type="reset" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-ban"></i> Cancelar</button>
				</div>
			</form>
		</div>
	</div>
</div>


{% if correos != None %}
	
<script type="text/javascript">
	$(document).ready(function(){
		{% for val in correos %}
			{% if val != "" %}
				var newState = new Option("{{val}}", "{{val}}", true, true);
				$(".select_email").append(newState).trigger('change');
			{% endif %}
		{% endfor %}
	});
</script>
{% endif %}
