{% load bootstrap4 %}

{% if form_add_anteproyecto != None %}
	{{ form_add_anteproyecto.media }}
	<div class="modal fade" id="addAnteproyecto">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Añadir anteproyecto</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<form method="post" action="{{ form_action }}" enctype="multipart/form-data" onsubmit="setLoadingButton('add_anteproyecto')">
					{% csrf_token %}
					<div id="messageBody" class="messageBody alert alert-primary col-sm-12" style="text-align:center;">
						Al agregar el anteproyecto, los datos del trabajo de grado no podrán ser editados.
					</div>
					<div class="modal-body">
						<div class="row justify-content-start">
						{% for field in form_add_anteproyecto %}
							{% bootstrap_field field form_group_class="col-md-12" label_class="col-md-4" field_class="col-md-8" size="small" layout="horizontal" %}
						{% endfor %}
						</div>
					</div>
					<div class="modal-footer">
						<input type="hidden" name="tipoForm" value="addData">
						<input type="hidden" name="tipoAdd" value="anteproyecto">
						<input type="hidden" name="tgrado" value="{{ tgrado.pk }}">
						<button type="submit" id="add_anteproyecto" class="btn btn-success"><i class="fa fa-save"></i> Añadir</button>
						<button type="reset" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i> Cancelar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endif %}
{% if form_edit_anteproyecto != None %}
	{{ form_edit_anteproyecto.media }}
	<div class="modal fade" id="editAnteproyecto">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Editar anteproyecto</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<form method="post" action="{{ form_action }}" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="modal-body">
						<div class="row justify-content-start">
						{% for field in form_edit_anteproyecto %}
							{% bootstrap_field field form_group_class="col-md-12" label_class="col-md-4" field_class="col-md-8" size="small" layout="horizontal" %}
						{% endfor %}
						</div>
					</div>
					<div class="modal-footer">
						<input type="hidden" name="tipoForm" value="editData">
						<input type="hidden" name="tipoEdit" value="anteproyecto">
						<input type="hidden" name="tgrado" value="{{ tgrado.pk }}">
						<input type="hidden" name="object_id" value="{{ anteproyecto.pk }}">
						<button type="submit" class="btn btn-success"><i class="fa fa-save"></i> editar</button>
						<button type="reset" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i> Cancelar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endif %}


{% if form_edit_concepto_anteproyecto %}
	{{ form_edit_concepto_anteproyecto.media }}
	<div class="modal fade" id="editConceptoAnteproyecto">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Editar concepto de anteproyecto</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<form method="post" action="{{ form_action }}" enctype="multipart/form-data">
					<div id="messageBody" class="messageBody alert alert-primary col-sm-12" style="text-align:center;">
						Si el concepto es distinto a <i>"En evaluacion"</i>, no se permitirán modificaciones.
					</div>
					{% csrf_token %}
					<div class="modal-body">
						<div class="row justify-content-start">
						{% for field in form_edit_concepto_anteproyecto %}
							{% bootstrap_field field form_group_class="col-md-12" label_class="col-md-4" field_class="col-md-8" size="small" layout="horizontal" %}
						{% endfor %}
						</div>
					</div>
					<div class="modal-footer">
						<input type="hidden" name="tipoForm" value="editData">
						<input type="hidden" name="tipoEdit" value="concepto_anteproyecto">
						<input type="hidden" name="tgrado" value="{{ tgrado.pk }}">
						<input type="hidden" name="anteproyecto" value="{{ anteproyecto.pk }}">
						<input type="hidden" name="object_id" value="{{ concepto_anteproyecto.pk }}">
						<button type="submit" class="btn btn-success"><i class="fa fa-save"></i> editar</button>
						<button type="reset" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i> Cancelar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endif %}



<div class="card">
    <div class="card-body">
    	<div class="row show-grid">
			{% if edit_anteproyecto %}
				<button class="btn btn-warning"  data-toggle="modal" data-target="#editAnteproyecto" title="Editar anteproyecto">
					<i class="fa fa-pencil"></i> Anteproyecto
				</button>
				<hr />
			{% endif %}
			{% if add_anteproyecto %}
				<button class="btn btn-success" data-toggle="modal" data-target="#addAnteproyecto" title="Agregar nuevo anteproyecto"><i class="fa fa-plus"></i> Anteproyecto</button>
				<hr />
			{% endif %}
		</div>
		{% if anteproyecto == None %}
			<hr />
			<div id="messageBody" class="messageBody alert alert-primary col-sm-12" style="text-align:center;">
				No hay anteproyectos agregados aún.
			</div>
		{% endif %}
		<hr />

		{% if form_edit_evaluador_anteproyecto %}
			{{ form_edit_evaluador_anteproyecto.media }}
			<form method="post" id="form_evaluadores" action="{{ form_action }}" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="row justify-content-start">
					<div class="col-md-3"></div>
					{% for field in form_edit_evaluador_anteproyecto %}
						{% bootstrap_field field form_group_class="col-md-8" label_class="col-md-3" field_class="col-md-9" size="small" layout="horizontal" %}
					{% endfor %}
					<button type="submit" id="btn_evaluador_anteproyecto" class="btn btn-xs btn-success col-md-1" title="Click para agregar evaluador" {% if concepto_anteproyecto == None %} disabled {% endif %}>
						<i class="fa {% if concepto_anteproyecto == None %} fa-plus {% else %} fa-pencil {% endif %}"></i>
					</button>
				</div>
				<input type="hidden" name="tipoForm" value="addData">
				<input type="hidden" name="tipoAdd" value="evaluador_anteproyecto">
				<input type="hidden" name="tgrado" value="{{ tgrado.pk }}">
				<input type="hidden" name="anteproyecto" value="{{ anteproyecto.pk }}">

				<script type="text/javascript">
					$(document).ready(function(){
						{% if concepto_anteproyecto %}
							var newState = new Option("{{ concepto_anteproyecto.evaluador }}", "{{ concepto_anteproyecto.evaluador_id }}", true, true);
							$(".select_evaluador").append(newState).trigger('change');
						{% endif %}
					});
				</script>
			<hr />
			</form>
			<input type="hidden" name="maxSelection" id="maxSelection" value="1">

		{% endif %}


    	{% if anteproyecto != None %}

			<div class="container_timeline">
				<ul class="timeline" id="timeline">
					{% if anteproyecto != None %}
						<li class="li complete">
							<div class="timestamp">
								<span class="author">Agregado</span>
								<span class="date">-{{ anteproyecto.fecha_ingreso|date:"M d, Y" }}<span>
							</div>
							<div class="status">
								<div class="dropdown row">
									<a class="text_status dropdown-toggle" data-toggle="dropdown"><i class="fa fa-book"></i> Anteproyecto </a>
				                    <div class="dropdown-menu" style="padding:10px 10px;width:300px;">
				                        <b>Edición: </b> {{anteproyecto.fecha_edicion}}<br />
												<b>Meses para el desarrolo: </b> {{anteproyecto.meses_desarrollo}} + {{anteproyecto.meses_desarrollo_prorroga}} <br />
				                        <b>Observaciones: </b> {{anteproyecto.observaciones_anteproyecto}}<br />
				                    </div>
				                </div>
							</div>
						</li>
					{% else %}
						<li class="li">
							<div class="timestamp">
								<span class="author">Sin agregar</span>
								<span class="date">-<span>
							</div>
							<div class="status">
								<a class="text_status"><i class="fa fa-book"></i> Anteproyecto </a>
							</div>
						</li>
					{% endif %}
					{% if concepto_anteproyecto != None %}
						<li class="li complete">
							<div class="timestamp">
								<span class="author">{{ concepto_anteproyecto.evaluador }}</span>
								<span class="date">-{{ concepto_anteproyecto.fecha_asignacion|date:"M d, Y" }}<span>
							</div>
							<div class="status">
								<div class="dropdown row">
									<a class="text_status dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Evaluador </a>
				                    <div class="dropdown-menu" style="padding:10px 10px;width:300px;">
									  			{% if edit_evaluador_anteproyecto %}
									  				<button class="btn btn-xs btn-success" id="add_evaluadores" title="Editar evaluador"><i class="fa fa-pencil"></i> Editar</button> <hr />
									  			{% endif %}
				                        <b>Asignación: </b> {{concepto_anteproyecto.fecha_asignacion}}<br />
				                    </div>
				                </div>
							</div>
						</li>
					{% else %}
						<li class="li">
							<div class="timestamp">
								<span class="author">
									Sin asignar
								</span>
								<span class="date">-<span>
							</div>
							<div class="status">
								<div class="dropdown row">
									<a class="text_status dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Evaluador </a>
									<div class="dropdown-menu" style="padding:10px 10px;width:300px;">
										{% if edit_evaluador_anteproyecto %}
											<button class="btn btn-xs btn-success" id="add_evaluadores" title="Agregar/Editar evaluador"><i class="fa fa-plus"></i> Agregar</button>
										{% endif %}
									</div>
								</div>
							</div>
						</li>
					{% endif %}

					{% if concepto_anteproyecto != None %}
						<li class="li {% if not concepto_evaluacion_anteproyecto %} complete {% endif %}">
							<div class="timestamp">
								<span class="author">{{ concepto_anteproyecto.concepto }}</span>
								<span class="date">-{{ concepto_anteproyecto.fecha_modificacion|date:"M d, Y" }}<span>
							</div>
							<div class="status">
								<div class="dropdown row">
									<a class="text_status dropdown-toggle" data-toggle="dropdown"><i class="fa fa-pencil"></i> Concepto </a>
				                    <div class="dropdown-menu" style="padding:10px 10px;width:400px;overflow:auto;max-height:400px;">
											   {% if edit_concepto_anteproyecto %}
									  				<button class="btn btn-xs btn-info"  data-toggle="modal" data-target="#editConceptoAnteproyecto"><i class="fa fa-pencil"></i> Editar </button>
													<hr />
									  			{% endif %}
				                        {% if concepto_anteproyecto.archivo != None and concepto_anteproyecto.archivo != "" %}
					                        <b>Archivo: </b> <a href="{{ concepto_anteproyecto.archivo.url }}" target="blank"> Descargar</a><br />
				                        {% endif %}
												{% if concepto_anteproyecto.observaciones %}
				                        	<b>Observaciones: </b><br /> {% autoescape off %}{{concepto_anteproyecto.observaciones}}{% endautoescape %}<br />
												{% endif %}
				                    </div>
				                </div>
							</div>
						</li>
					{% else %}
						<li class="li">
							<div class="timestamp">
								<span class="author">Sin concepto</span>
								<span class="date">-<span>
							</div>
							<div class="status">
								<div class="dropdown row">
									<a class="text_status"><i class="fa fa-pencil"></i> Concepto </a>
								</div>
							</div>
						</li>
					{% endif%}

					{% if concepto_aplazado_anteproyecto or concepto_aprobado_anteproyecto %}
						{% if concepto_aprobado_anteproyecto %}
							<li class="li complete">
						{% else %}
							<li class="li complete_bad">
						{% endif %}
							<div class="timestamp">
								<span class="author">{{ concepto_anteproyecto.concepto }}</span>
								<span class="date">-{{ concepto_anteproyecto.fecha_modificacion|date:"M d, Y" }}<span>
							</div>
							<div class="status">
								<a class="text_status"><i class="fa fa-gear"></i> {{ concepto_anteproyecto.concepto }} </a>
							</div>
						</li>
					{% else %}
						<li class="li">
							<div class="timestamp">
								<span class="author">Sin finalizar</span>
								<span class="date">-<span>
							</div>
							<div class="status">
								<a class="text_status"><i class="fa fa-table"></i> Finalizado </a>
							</div>
						</li>
					{% endif %}

				</ul>
			</div>

			{% if archivos_anteproyecto != None %}
				<hr />
				<b>Archivos:</b>
				<div class="row">
					<ul class="list-group">
					{% for ar_an in archivos_anteproyecto %}
						<li class="list-group-item">
							{% if ar_an.archivo != None and ar_an.archivo.size != None %}
								<a href="{{ ar_an.archivo.url }}" target="blank">
									{{ ar_an.nombre }} ({% widthratio ar_an.archivo.size 1024 1 %} Kb)
								</a>
							{% endif %}
						</li>
					{% endfor %}
					</ul>
				</div>
			{% endif %}
		{% endif %}
	</div>
</div>
{% if anteriores_anteproyectos %}
<hr />
<div class="card">
	<div class="card-body">
		<button class="btn btn-sm btn-info" id="btn_historico_anteproyecto"> Mostrar/Ocultar historial</button>
		<div id="historico_anteproyectos">

		</div>
	</div>
</div>
{% endif %}
