{% load bootstrap4 %}
{% if form_add_informe != None %}
	{{ form_add_informe.media }}
	<div class="modal fade" id="addInforme">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Añadir Informe</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<form method="post" action="{{ form_action }}" enctype="multipart/form-data" onsubmit="setLoadingButton('add_informe')">
					{% csrf_token %}
					<div class="modal-body">
						<div class="row justify-content-start">
						{% for field in form_add_informe %}
							{% bootstrap_field field form_group_class="col-md-12" label_class="col-md-4" field_class="col-md-8" size="small" layout="horizontal" %}
						{% endfor %}
						</div>
					</div>
					<div class="modal-footer">
						<input type="hidden" name="tipoForm" value="addData">
						<input type="hidden" name="tipoAdd" value="informe">
						<input type="hidden" name="tgrado" value="{{ tgrado.pk }}">
						<button type="submit" class="btn btn-success" id="add_informe"><i class="fa fa-save"></i> Añadir</button>
						<button type="reset" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i> Cancelar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endif %}
{% if form_edit_informe != None %}
	{{ form_edit_informe.media }}
	<div class="modal fade" id="editInforme">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Editar informe</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<form method="post" action="{{ form_action }}" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="modal-body">
						<div class="row justify-content-start">
						{% for field in form_edit_informe %}
							{% bootstrap_field field form_group_class="col-md-12" label_class="col-md-4" field_class="col-md-8" size="small" layout="horizontal" %}
						{% endfor %}
						</div>
					</div>
					<div class="modal-footer">
						<input type="hidden" name="tipoForm" value="editData">
						<input type="hidden" name="tipoEdit" value="informe">
						<input type="hidden" name="tgrado" value="{{ tgrado.pk }}">
						<input type="hidden" name="object_id" value="{{ informe.pk }}">
						<button type="submit" class="btn btn-success"><i class="fa fa-save"></i> editar</button>
						<button type="reset" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i> Cancelar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endif %}

{% if form_edit_concepto_informe != None %}
	{{ form_edit_concepto_informe.media }}
	<div class="modal fade" id="editConceptoInforme">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Editar concepto del informe</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div id="messageBody" class="messageBody alert alert-primary col-sm-12" style="text-align:center;">
					Si el concepto es distinto a <i>"En evaluacion"</i>, Sólo los administrativos podrán modificar éste.
				</div>
				<form method="post" action="{{ form_action }}" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="modal-body">
						<div class="row justify-content-start">
						{% for field in form_edit_concepto_informe %}
							{% bootstrap_field field form_group_class="col-md-12" label_class="col-md-4" field_class="col-md-8" size="small" layout="horizontal" %}
						{% endfor %}
						</div>
					</div>
					<div class="modal-footer">
						<input type="hidden" name="tipoForm" value="editData">
						<input type="hidden" name="tipoEdit" value="concepto_informe">
						<input type="hidden" name="tgrado" value="{{ tgrado.pk }}">
						<input type="hidden" name="informe" value="{{ informe.pk }}">
						{% if edit_conceptos_evaluador %}
							<input type="hidden" id="concepto_id_editar" name="object_id" value="{{ concepto_id_editar }}">
						{% else %}
							<input type="hidden" id="concepto_id_editar" name="object_id" value="">
						{% endif %}
						<button type="submit" class="btn btn-success"><i class="fa fa-save"></i> editar</button>
						<button type="reset" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i> Cancelar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endif %}


{% if form_finalizar_tgrado != None %}
	{{ form_finalizar_tgrado.media }}
	<div class="modal fade" id="finalizarTGradoModal">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Finalizar Tgrado</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<form method="post" action="{{ form_action }}" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="modal-body">
						<div class="row justify-content-start">
						{% for field in form_finalizar_tgrado %}
							{% bootstrap_field field form_group_class="col-md-12" label_class="col-md-4" field_class="col-md-8" size="small" layout="horizontal" %}
						{% endfor %}
						</div>
					</div>
					<div class="modal-footer">
						<input type="hidden" name="tipoForm" value="editData">
						<input type="hidden" name="tipoEdit" value="finalizar_tgrado">
						<input type="hidden" name="object_id" value="{{ tgrado.pk }}">
						<button type="submit" class="btn btn-success"><i class="fa fa-save"></i> editar</button>
						<button type="reset" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i> Cancelar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endif %}



{% if form_fecha_sustentacion != None %}
	{{ form_fecha_sustentacion.media }}
	<div class="modal fade" id="fechaSustentacion">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Editar fecha y lugar de sustentación</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<form method="post" action="{{ form_action }}" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="modal-body">
						<div class="row justify-content-start">
						{% for field in form_fecha_sustentacion %}
							{% bootstrap_field field form_group_class="col-md-12" label_class="col-md-4" field_class="col-md-8" size="small" layout="horizontal" %}
						{% endfor %}
						</div>
					</div>
					<div class="modal-footer">
						<input type="hidden" name="tipoForm" value="editData">
						<input type="hidden" name="tipoEdit" value="fecha_sustentacion">
						<input type="hidden" name="tgrado" value="{{ tgrado.pk }}">
						<input type="hidden" name="object_id" value="{{ informe.pk }}">
						<button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Editar</button>
						<button type="reset" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i> Cancelar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endif %}




<div class="card">
	<div class="card-body">
		<div class="row show-grid">
		{% if add_informe %}
			<button class="btn btn-xs btn-success" data-toggle="modal" data-target="#addInforme" title="Agregar nuevo informe"><i class="fa fa-plus"></i> Informe</button>
		{% endif %}
		{% if edit_informe %}
			<button class="btn btn-xs btn-warning" data-toggle="modal" data-target="#editInforme" title="Editar datos del informe"><i class="fa fa-pencil"></i> Informe</button>
		{% endif %}
		{% if edit_conceptos_evaluador %}
			<button class="btn btn-xs btn-info" title="Editar concepto" data-toggle="modal" data-target="#editConceptoInforme"><i class="fa fa-pencil"></i> Concepto</button>
		{% endif %}
		{% if finalizar_tgrado %}
			<button class="btn btn-xs btn-info" data-toggle="modal" data-target="#finalizarTGradoModal" title="Finalizar tgrado"><i class="fa fa-pencil"></i> Finalizar TGrado</button>
		{% endif %}
		{% if no_fecha_sustentacion %}
			<button class="btn btn-xs btn-success" data-toggle="modal" data-target="#fechaSustentacion" title="Agregar fecha de sustentación"><i class="fa fa-pencil"></i> Fecha sustentación</button>
		{% endif %}

		</div>
		<hr />
		{% if form_edit_evaluador_informe %}
			{{ form_edit_evaluador_informe.media }}
			<form method="post" id="form_evaluadores" action="{{ form_action }}" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="row justify-content-start">
				{% for field in form_edit_evaluador_informe %}
					{% bootstrap_field field form_group_class="col-md-11" label_class="col-md-4" field_class="col-md-8" size="small" layout="horizontal" %}
				{% endfor %}
					<button type="submit" class="btn btn-xs btn-success col-md-1" id="btn_evaluador_anteproyecto" title="Click para agregar evaluador al informe" {% if todos_conceptos_informe == None %} disabled {% endif %}>
						{% if todos_conceptos_informe != None %}
							<i class="fa fa-pencil"></i>
						{% else %}
							<i class="fa fa-plus"></i>
						{% endif %}
					</button>
				</div>
				<input type="hidden" name="tipoForm" value="addData">
				<input type="hidden" name="tipoAdd" value="evaluadores_informe">
				<input type="hidden" name="tgrado" value="{{ tgrado.pk }}">
				<input type="hidden" name="informe" value="{{ informe.pk }}">
			<hr />
			</form>
			<input type="hidden" name="maxSelection" id="maxSelection" value="3">

			{% if todos_conceptos_informe != None %}
				<script type="text/javascript">
					$(document).ready(function(){
						{% for val in todos_conceptos_informe %}
							var newState = new Option("{{val.evaluador}}", "{{val.evaluador_id}}", true, true);
							$(".select_evaluador").append(newState).trigger('change');
						{% endfor %}
					});
				</script>
			{% endif %}

		{% endif %}

		<div class="container_timeline">
			<ul class="timeline" id="timeline">
				{% if informe != None %}
					<li class="li complete">
						<div class="timestamp">
							<span class="author">Agregado</span>
							<span class="date">-{{ informe.fecha_ingreso|date:"M d, Y" }}<span>
						</div>
						<div class="status">
							<div class="dropdown row">
								<a class="text_status dropdown-toggle" data-toggle="dropdown"><i class="fa fa-book"></i> Informe </a>
		                        <div class="dropdown-menu" style="padding:10px 10px;width:300px;">
		                            <b>Edición: </b> {{ informe.fecha_edicion }}<br />
		                            <b>Observaciones: </b> {{ informe.observaciones_informe|escape }}<br />
		                        </div>
		                    </div>
						</div>
					</li>
				{% else %}
					<li class="li">
						<div class="timestamp">
							<span class="author">Sin agregar</span>
							<span class="date">-<span>
						</div>
						<div class="status">
							<a class="text_status"><i class="fa fa-book"></i> Informe </a>
						</div>
					</li>
				{% endif %}

				{% if todos_conceptos_informe != None %}
					<li class="li complete">
						<div class="timestamp">
							<span class="author">Asignado(s)</span>
							<span class="date">{{ todos_conceptos_informe|length }}<span>
						</div>
						<div class="status">
							<div class="dropdown row">
								<a class="text_status dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Evaluadores </a>
		                        <div class="dropdown-menu" style="padding:10px 10px;width:300px;">
		                        	<ul>
		                        	{% for ev in todos_conceptos_informe %}
					                    <li>- {{ev.evaluador}}</li>
		                            {% endfor %}
		                            </ul>
 											{% if edit_evaluadores_informe %}
												<hr />
 												<button class="btn btn-xs btn-info" id="add_evaluadores" title="Editar evaluadores del informe"><i class="fa fa-pencil"></i> Editar</button>
 											{% endif %}
		                        </div>
		                    </div>
						</div>
					</li>
				{% else %}
					<li class="li">
						<div class="timestamp">
							<span class="author">Sin asignar</span>
							<span class="date">-<span>
						</div>
						<div class="status">
							<div class="dropdown row">
								<a class="text_status dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Evaluadores </a>
									<div class="dropdown-menu" style="padding:10px 10px;width:300px;">
										{% if edit_evaluadores_informe %}
											<button class="btn btn-xs btn-info" id="add_evaluadores" title="Añadir evaluadores del informe"><i class="fa fa-plus"></i> Evaluadores</button>
										{% endif %}
		                    </div>
							</div>
						</div>
					</li>
				{% endif %}

				{% if concepto_informe != None %}
					{% if en_evaluacion_informe %}
						<li class="li">
					{% else %}
						<li class="li complete">
					{% endif %}
							<div class="timestamp">
								<span class="author">{{ concepto_informe.concepto_texto }}</span>
								<span class="date">{{ concepto_informe.cantidad }}<span>
							</div>
							<div class="status">
								<div class="dropdown row">
									<a class="text_status dropdown-toggle" data-toggle="dropdown"><i class="fa fa-pencil"></i> Concepto </a>
						            <div class="dropdown-menu" style="padding:10px 10px;width:400px;overflow:auto;max-height:300px;">
						            	{% for con in todos_conceptos_informe %}
						            		{% if edit_conceptos_informe %}
						            			<button class="btn btn-xs btn-info edit_concepto_informe_btn" concepto="{{ con.pk }}" value_concepto="{{ con.concepto_id }}" title="Editar Concepto"><i class="fa fa-pencil"></i> Editar</button><br />
						            		{% endif %}
								            {{ con.concepto }} ({{ con.evaluador }})<br />
												<b>Fecha modificación: </b>{{con.fecha_modificacion|date:"M d, Y H:m:s"}}<br />
								            {% if con.archivo != None and con.archivo != "" %}
							                   - <a href="{{con.archivo.url}}" target="blank"> Descargar Archivo</a><br />
						                    {% endif %}
												{% if con.observaciones %}
								            	{% autoescape off %}{{ con.observaciones }}{% endautoescape %}
												{% endif %}
												{% if todos_conceptos_informe|last != con %}
													<hr />
												{% endif %}
						                {% endfor %}
						            </div>
						        </div>
							</div>
						</li>
				{% else %}
					<li class="li">
						<div class="timestamp">
							<span class="author">Sin concepto</span>
							<span class="date">-<span>
						</div>
						<div class="status">
							<div class="dropdown row">
								<a class="text_status"><i class="fa fa-pencil"></i> Conceptos </a>
				            </div>
						</div>
					</li>
				{% endif %}


				{% if notas_estudiantes != None %}
					{% if cantidad_notas > 0 %}
						<li class="li complete">
					{% else %}
						<li class="li">
					{% endif %}
						<div class="timestamp">
							<span class="author">Agregadas</span>
							<span class="date">{{ cantidad_notas }}/{{ todos_conceptos_informe|length }}<span>
						</div>
						<div class="status">
							<div class="dropdown row">
								<a class="text_status dropdown-toggle" data-toggle="dropdown"><i class="fa fa-table"></i> Notas</a>
			                    <div class="dropdown-menu" style="padding:10px 10px;width:400px;overflow:auto;max-height:400px;">
			                        {% for con in notas_estudiantes %}
						            		{% if con.can_view_nota == True %}
						            			<a class="btn btn-xs btn-info" href="/tgrado/notas/{{tgrado.pk}}/{{informe.pk}}/{{con.pk}}" title="Ver Notas"><i class="fa fa-eye"></i> Ver</a><br />
						            		{% endif %}
						            		<b>{{ con.evaluador }}</b>
						            		<br />
						            		{% for nota in con.notas %}
							            		{{ nota.estudiante }} ({{ nota.nota }})<br />
						            		{% endfor %}
												{% if notas_estudiantes|last != con %}
						            			<hr />
												{% endif %}
						               {% endfor %}

			                    </div>
			                </div>
						</div>
					</li>
				{% else %}
					<li class="li">
						<div class="timestamp">
							<span class="author">Sin notas</span>
							<span class="date">-<span>
						</div>
						<div class="status">
							<a class="text_status"><i class="fa fa-table"></i> Sin Notas </a>
						</div>
					</li>
				{% endif %}


				{% if reprobado_tgrado or aplazado_informe %}
					<li class="li complete_bad">
						<div class="timestamp">
							{% if aplazado_informe %}
								<span class="author">¡Aplazado!</span>
								<span class="date">-<span>
							{% else %}
								<span class="author">¡Reprobado!</span>
								<span class="date">-<span>
							{% endif %}
						</div>
						<div class="status">
							{% if aplazado_informe %}
								<a class="text_status"><i class="fa fa-close"></i> Volver </a>
							{% else %}
								<a class="text_status"><i class="fa fa-close"></i> No continúa </a>
							{% endif %}
						</div>
					</li>
				{% elif aprobado_tgrado %}
					<li class="li complete">
						<div class="timestamp">
							<span class="author">¡Finalizado!</span>
							<span class="date">-{{ tgrado.fecha_modificiacion|date:"M d, Y" }}<span>
						</div>
						<div class="status">
							<a class="text_status"><i class="fa fa-check"></i> ¡Éxito! </a>
						</div>
					</li>
				{% else %}
					<li class="li">
						<div class="timestamp">
							<span class="author">Sin finalizar</span>
							<span class="date">-<span>
						</div>
						<div class="status">
							<a class="text_status"><i class="fa fa-check"></i> Sin finalizar </a>
						</div>
					</li>
				{% endif %}
			</ul>
		</div>
		{% if informe.fecha_sustentacion != None %}
			<hr />
			<b>Fecha sustentación: </b> {{ informe.fecha_sustentacion }} en <b>{{ informe.lugar_sustentacion }}</b>
		{% endif %}

		{% if archivos_informe != None %}
			<hr />
			<b>Archivos:</b>
			<div class="row">
				<ul class="list-group">
				{% for ar_an in archivos_informe %}
					<li class="list-group-item">
						{% if ar_an.archivo and ar_an.archivo.size != None %}
						<a href="{{ ar_an.archivo.url }}" target="blank">
							{{ ar_an.nombre }} ({% widthratio ar_an.archivo.size 1024 1 %} Kb)
						</a>
						{% endif %}
					</li>
				{% endfor %}
				</ul>
			</div>
		{% endif %}
	</div>
</div>

{% if anteriores_informe %}
<hr />
<div class="card">
	<div class="card-body">
		<button class="btn btn-sm btn-info" id="btn_historico_informe"> Mostrar/Ocultar historial</button>
		<div id="historico_informe">

		</div>
	</div>
</div>
{% endif %}
