{% extends "structure.html" %}

{% block content_body %}

{% if user.es_admin %}
	<div class="modal fade" id="restaurarNotas">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">¿Restaurar notas?</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<form action="{{form_action}}" method="post">
					{% csrf_token %}
					<div class="modal-body">
						¿Está seguro de reiniciar las notas?<br />
						Esta acción borrará las notas actuales de todos los evaluadores de este informe y establecerá los criterios de evaluación actuales.
					</div>
					<div class="modal-footer">

						<input type="hidden" name="tipoForm" value="editData">
						<input type="hidden" name="tipoEdit" value="restaurar_notas">
						<input type="hidden" name="tgrado_id" value="{{ tgrado_id }}">
						<input type="hidden" name="concepto_id" value="{{ concepto_id }}">

						<button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Aceptar</button>
						<button type="reset" id="button_cancel_edit" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i> Cancelar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endif %}

<div class="row">
	<a class="btn btn-info col-sm-1 row-sm-1" href="/tgrado/view/{{ datos_tgrado.pk }}" style="height:45px;" title="Volver al perfil de tgrado"><i class="fa fa-arrow-left"></i> Tgrado</a>
	<div class="col-md-1"></div>
	<div id="messageBody" class="messageBody alert alert-primary col-sm-8" style="text-align:center;">
		Notas del trabajo de grado titulado <i>{{ datos_tgrado.titulo_tgrado }}</i>, su director es {{ datos_tgrado.director }}, está evaluando {{ datos_tgrado.evaluador }}
	</div>
	{% if user.es_admin %}
	<div class="col-md-2">
		<button class="btn btn-warning" data-toggle="modal" data-target="#restaurarNotas" title="Restaurar notas"><i class="fa fa-user"></i> Restaurar notas</button>
	</div>
	{% endif %}
</div>
<hr />
<ul class="nav nav-tabs mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Informe</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-operaciones" role="tab" aria-controls="pills-operaciones" aria-selected="false">Sustentación</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-resumen-tab" data-toggle="pill" href="#pills-resumen" role="tab" aria-controls="pills-resumen" aria-selected="false">Resumen</a>
    </li>
</ul>

<div class="tab-content" id="pills-tabContent">
	<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
		<div class="card">
			<div class="card-body">
				<div class="table-responsive">
					<table class="table">
						<thead>
							<th style="width:50%">Criterio de evaluación</th>
							<th>Peso (%)</th>
							<th>Nota</th>
							<th>Nota*Porc.</th>
							<th>Edición</th>
						</thead>
						<tbody>
							{% for nota in notas_informe %}
								<tr>
									<td>{{ nota.criterio }}</td>
									<td id="porcentaje_{{ nota.nro }}">{{ nota.peso }}</td>
									{% if edit_notas %}
										<td>
											<input style="width:60px;"  tipo="informe" type="text" step="0.1" class="form-control form-control-sm input-nota" value="{{ nota.nota }}" last_nota="{{ nota.nota }}" nota="{{ nota.pk }}" campo_id="campo_{{ nota.nro }}">
										</td>
									{% else %}
										<td>{{ nota.nota }}</td>
									{% endif %}
									<td class="sustentacion_nota_input" id="acum_{{ nota.nro }}">{{ nota.porcentaje }}</td>
									<td><button class="btn btn-primary btn-xs" id="fecha_{{ nota.nro }}" title="{{ nota.fecha_edicion }}"><i class="fa fa-calendar"></i></button></td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
    </div>

    <div class="tab-pane fade" id="pills-operaciones" role="tabpanel" aria-labelledby="pills-operaciones-tab">
    	<div class="row">
		{% for nota_sus in notas_sustentacion %}

			<div class="col-lg-6 mt-5">
				<div class="card h-full">
					<div class="card-body">
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th colspan=5><center>{{ nota_sus.estudiante }}</center></th>
									</tr>
									<tr>
										<th>Criterio</th>
										<th>%</th>
										<th>Nota</th>
										<th>Total</th>
										<th>Edición</th>
									</tr>
								</thead>
								<tbody>
									{% for nota in nota_sus.notas %}
										<tr>
											<td>{{ nota.criterio }}</td>
											<td id="porcentaje_{{ nota.nro }}">{{ nota.peso }}</td>
											{% if edit_notas %}
												<td>
													<input style="width:60px;" tipo="sustentacion" type="text" estudiante="{{ nota_sus.estudiante_pk }}" class="form-control form-control-sm input-nota" value="{{ nota.nota }}" nota="{{ nota.pk }}" campo_id="campo_{{ nota.nro }}">
												</td>
											{% else %}
												<td>{{ nota.nota }}</td>
											{% endif %}
											<td class="nota_sustentacion_input_{{ nota_sus.estudiante_pk }}" id="acum_{{ nota.nro }}">{{ nota.porcentaje }}</td>
											<td><button class="btn btn-primary btn-xs" id="fecha_{{ nota.nro }}" title="{{ nota.fecha_edicion }}"><i class="fa fa-calendar"></i></button></td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>

		{% endfor %}
		</div>
	</div>

	<div class="tab-pane fade" id="pills-resumen" role="tabpanel" aria-labelledby="pills-resumen-tab">
		<div class="card">
			<div class="card-body">
				<p>Nota del informe para los estudiantes: <i class="nota_sustentacion">{{final_informe}}</i></p><hr />

				<div class="row">
					{% for nota_sus in notas_sustentacion %}
						<div id="messageBody" class="messageBody alert alert-primary col-sm-6">
							Nota final de <b>{{ nota_sus.estudiante }}</b>: <h3 class="sustentacion_final tota_sustentacion_{{ nota_sus.estudiante_pk }}" estudiante="{{ nota_sus.estudiante_pk }}">{{ nota_sus.final }}</h3>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>

</div>
<hr />
<button class="btn btn-success" data-toggle="modal" data-target="#comoCalifico" title="Manual para calificar"><i class="fa fa-question-circle"></i> ¿Cómo califico?</button>

<div class="modal fade" id="comoCalifico">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">¿Cómo calificar?</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
				<div class="modal-body">
					Al presionar la tecla "enter" en el campo de nota, ésta será guardada, si la nota ha sido guardad exitosamente, el campo tendrá un borde verde y la fecha de edición se actualizará automáticamente, cuando la casilla quede de color rojo, vuelva a intentarlo pues ocurrió un error.<br />
					Puede usar punto "." ó coma "," el sistema autoformateará las notas con un decimal.<br />
					Si desea, puede escribir 22 y al presionar enter, se formateará esta nota como 2.2<hr />
					<table class="table table-sm">
						<thead>
							<th>Criterio</th>
							<th>Min</th>
							<th>Max</th>
						</thead>
						<tbody>
							<tr>
								<td>Cumple plenamente</td>
								<td>4.5</td>
								<td>5.0</td>
							</tr>
							<tr>
								<td>Cumple en alto grado</td>
								<td>4.0</td>
								<td>4.4</td>
							</tr>
							<tr>
								<td>Cumple aceptablemente</td>
								<td>3.0</td>
								<td>3.9</td>
							</tr>
							<tr>
								<td>Cumple insatisfactoriamente</td>
								<td>2.0</td>
								<td>2.9</td>
							</tr>
							<tr>
								<td>No cumple</td>
								<td>1.0</td>
								<td>1.9</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="modal-footer">
					<button type="reset" class="btn btn-info" data-dismiss="modal"><i class="fa fa-ban"></i> Cerrar</button>
				</div>
		</div>
	</div>
</div>

<input type="hidden" name="form_action" id="form_action" value="{{form_action}}">
<input type="hidden" name="tgrado" id="tgrado" value="{{tgrado_id}}">

{% endblock %}
