{% extends "structure.html" %}
{% load bootstrap4 %}
{% block content_body %}
{% if success == "True" %}
	<div id="messageBody" class="messageBody alert alert-success">
		<i class="fa fa-check"></i> Petición realizada con éxito
	</div>
{% elif success == "False" %}
	<div id="messageBody" class="messageBody alert alert-danger">
		<i class="fa fa-close"></i> La petición falló
	</div>
{% endif %}

<div class="col-lg-12 mt-2">
    <div class="card">
        <div class="card-body">
			<div class="row show-grid">
				<div class="col-md-1">
					<h5 style="text-align:center;"><b>{{ tgrado.pk }}</b></h5>
				</div>
				<div class="col-md-9">
					<h6 style="text-align:center;"><b>{{ tgrado.titulo }}</b></h6>
				</div>
				{% if not user.es_estudiante %}
					<div class="col-md-1">
						<a href="/email/redactar?correos={{correos_tgrado}}&request_data" class="btn btn-info btn-xs" title="Enviar correo al director y a los estudiantes del trabajo de grado"><i class="fa fa-send"></i></a>
					</div>
				{% endif %}
				{% if edit_tgrado %}
					<div class="col-md-1">
						<a href="/tgrado/?EditRegister&object_id={{tgrado.pk}}" class="btn btn-warning btn-xs" title="Editar datos"><i class="fa fa-pencil"></i></a>
					</div>
				{% endif %}
			</div>
			<br />
			<div class="table-responsive">
				<table class="table table-bordered table-sm">
					<thead>
						<tr>
							<th>Modalidad</th>
							<th>Creación</th>
							<th>Estudiantes</th>
							<th>Director</th>
							<th>Co-Director</th>
							{% if asesores != "" %}
								<th>Asesores</th>
							{% endif %}
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{ tgrado.get_modalidad }}</td>
							<td>{{ tgrado.fecha_creacion }}</td>
							{% if user.es_estudiante %}
								<td>{{ tgrado.returnEstudiantes }}</td>
								<td>{{ tgrado.returnDirector}}</td>
								<td>{{ tgrado.returnCoDirector}}</td>
							{% else %}
								<td>{% autoescape off %}{{ tgrado.returnEstudiantesFormato }}{% endautoescape %}</td>
								<td>{% autoescape off %}{{ tgrado.returnDirectorFormato }}{% endautoescape %}</td>
								<td>{% autoescape off %}{{ tgrado.returnCoDirectorFormato }}{% endautoescape %}</td>
							{% endif %}
							{% if asesores != "" %}
								<td>{{ asesores }}</td>
							{% endif %}
						</tr>
					</tbody>
				</table>
				{% if  meses_restantes != None %}
					<div id="messageBody" class="messageBody alert alert-primary col-sm-12" style="text-align:center;">
						Este trabajo de grado cuenta con: {{meses_restantes}} meses para su desarrollo.
					</div>
				{% endif %}
				{% if meses_anteproyecto_aplazado %}
					<div id="messageBody" class="messageBody alert alert-warning col-sm-12" style="text-align:center;">
						Este trabajo de grado cuenta con: {{meses_anteproyecto_aplazado}} meses para volver a entregar el anteproyecto.
					</div>
				{% endif %}
				{% if meses_informe_aplazado %}
					<div id="messageBody" class="messageBody alert alert-warning col-sm-12" style="text-align:center;">
						Este trabajo de grado cuenta con: {{meses_informe_aplazado}} meses para volver a entregar el informe final.
					</div>
				{% endif %}
				{% if finalizado %}
					Finalizado
				{% endif %}
			</div>

		</div>
	</div>
</div>
<hr />


{% if meses_anteproyecto_aplazado != None and meses_anteproyecto_aplazado == 0 %}
	<div id="messageBody" class="messageBody alert alert-danger col-sm-12" style="text-align:center;">
		Se ha cumplido el plazo de entrega del anteproyecto tras ser aplazado, los siguientes datos acreditan la información:<br />
		<b>Fecha de aplazamiento del anteproyecto: </b> {{ concepto_anteproyecto.fecha_modificacion|date:"M d, Y H:m:s" }}<br />
		<b>Meses para entrega de nuevo anteproyecto: </b> {{ concepto_anteproyecto.plazo_aplazado }}<br />
		{% if form_prorroga_aplazado_anteproyecto %}
			<hr />
			<button class="btn btn-warning"  data-toggle="modal" data-target="#editProrrogaProyecto" title="Editar meses de prorroga del proyecto">
				<i class="fa fa-pencil"></i> Agregar 1 més adicional al plazo
			</button>
		{% endif %}
	</div>

	{% if form_prorroga_aplazado_anteproyecto %}
		<div class="modal fade" id="editProrrogaProyecto">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Editar prórroga del anteproyecto</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<form method="post" action="{{ form_action }}" enctype="multipart/form-data">
						{% csrf_token %}
						<div class="modal-body">
							¿Deseas agregar un mes adicional al plazo para agregar anteproyecto?
						</div>
						<div class="modal-footer">
							<input type="hidden" name="tipoForm" value="editData">
							<input type="hidden" name="tipoEdit" value="prorroga_aplazado">
							<input type="hidden" name="tgrado" value="{{ tgrado.pk }}">
							<input type="hidden" name="anteproyecto_id" value="{{ anteproyecto.pk }}">
							<input type="hidden" name="object_id" value="{{ concepto_anteproyecto.pk }}">
							<button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Agregar</button>
							<button type="reset" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i> Cancelar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	{% endif %}

{% elif meses_informe_aplazado != None and meses_informe_aplazado == 0 %}
	<div id="messageBody" class="messageBody alert alert-danger col-sm-12" style="text-align:center;">
		Se ha cumplido el plazo de entrega del informe tras ser aplazado, los siguientes datos acreditan la información:<br />
		<b>Fecha de aplazamiento del anteproyecto: </b> {{ last_concepto_informe.fecha_modificacion|date:"M d, Y H:m:s" }}<br />
		<b>Meses para entrega de nuevo informe final: </b> {{ last_concepto_informe.plazo_aplazado }}<br />
		{% if form_prorroga_aplazado_informe %}
			<hr />
			<button class="btn btn-warning"  data-toggle="modal" data-target="#editProrrogaProyecto" title="Editar meses de prorroga del proyecto">
				<i class="fa fa-pencil"></i> Agregar 1 més adicional al plazo
			</button>
		{% endif %}
	</div>

	{% if form_prorroga_aplazado_informe %}
		<div class="modal fade" id="editProrrogaProyecto">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Editar prórroga del informe final</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<form method="post" action="{{ form_action }}" enctype="multipart/form-data">
						{% csrf_token %}
						<div class="modal-body">
							¿Deseas agregar un mes adicional al plazo para agregar informe final?
						</div>
						<div class="modal-footer">
							<input type="hidden" name="tipoForm" value="editData">
							<input type="hidden" name="tipoEdit" value="prorroga_aplazado_informe">
							<input type="hidden" name="tgrado" value="{{ tgrado.pk }}">
							<input type="hidden" name="informe_id" value="{{ informe.pk }}">
							<input type="hidden" name="object_id" value="{{ last_concepto_informe.pk }}">
							<button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Agregar</button>
							<button type="reset" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i> Cancelar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	{% endif %}

{% elif meses_restantes != None and meses_restantes == 0 %}

	<div id="messageBody" class="messageBody alert alert-danger col-sm-12" style="text-align:center;">
		Se ha cumplido el plazo de entrega del informe final, los siguientes datos acreditan la información:<br />
		<b>Fecha de aprobación del anteproyecto: </b> {{ concepto_anteproyecto.fecha_modificacion|date:"M d, Y" }}<br />
		<b>Meses de desarrollo ingresados: </b> {{ anteproyecto.meses_desarrollo }}<br />
		<b>Meses adicionales para el desarrolo: </b> {{ anteproyecto.meses_desarrollo_prorroga }}<br />
		{% if form_prorroga %}
			<hr />
			<button class="btn btn-warning"  data-toggle="modal" data-target="#editProrrogaProyecto" title="Editar meses de prorroga del proyecto">
				<i class="fa fa-pencil"></i> Editar meses de prórroga
			</button>
		{% endif %}
	</div>
	{% if form_prorroga %}
		{{ form_prorroga.media }}
		<div class="modal fade" id="editProrrogaProyecto">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Editar prórroga del proyecto de grado</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<form method="post" action="{{ form_action }}" enctype="multipart/form-data">
						{% csrf_token %}
						<div class="modal-body">
							<div class="row justify-content-start">
							{% for field in form_prorroga %}
								{% bootstrap_field field form_group_class="col-md-12" label_class="col-md-4" field_class="col-md-8" size="small" layout="horizontal" %}
							{% endfor %}
							</div>
						</div>
						<div class="modal-footer">
							<input type="hidden" name="tipoForm" value="editData">
							<input type="hidden" name="tipoEdit" value="prorroga">
							<input type="hidden" name="tgrado" value="{{ tgrado.pk }}">
							<input type="hidden" name="object_id" value="{{ anteproyecto.pk }}">
							<button type="submit" class="btn btn-success"><i class="fa fa-save"></i> editar</button>
							<button type="reset" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i> Cancelar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	{% endif %}

{% elif meses_restantes > 0 or meses_restantes == None %}

<div class="col-lg-12 mt-2">

    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade {% if not show_informe or informe == None %} show active {% endif %}" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

			<!--ANTEPROYECTO TEMPLATE-->
				{% include "tgrado/anteproyecto_profile.html" %}
        </div>

        {% if show_informe %}
        <div class="tab-pane fade  {% if informe != None %} active show {% endif %}" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">

    		<!-- INFORME TEMPLATE -->
        	{% include "tgrado/informe_profile.html" %}
        </div>
        {% endif %}

		{% if notas_estudiantes != None %}
        <div class="tab-pane fade" id="pills-operaciones" role="tabpanel" aria-labelledby="pills-operaciones-tab">

    		<!-- MAS OPERACIONES TEMPLATE -->

			{% if user.es_admin %}
				<div class="card">
					<form action="/word/evaluacion_formato" target="_blank" method="post">
						{% csrf_token %}
						<div class="card-header">
							Exportar formato de evaluación <small>(<a href="/informes/configurar">Click para cambiar el formato</a>)</small>
						</div>
					    <div class="card-body">
				        	<div class="row show-grid">
								<div class="col-md-12 row"><label class="col-md-3" for="estudiante_formato">Estudiante: </label>
									<div class="col-md-9">
										<div class="input-group date">
											<input type="hidden" name="tipoForm" value="informeForm">
											<input type="hidden" name="tgrado" value="{{ tgrado.pk }}">
											<select name="estudiante" class="form-control form-control-sm" id="estudiante_formato">
											{% for est in estudiantes_data %}
												<option value="{{est.pk}}">{{est.nombre}}</option>
											{% endfor %}
											</select>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card-footer">
							<button type="submit" class="btn btn-primary" title="Generar formato de evaluación"><i class="fa fa-file-word-o"></i> Generar </button>
						</div>
					</form>
				</div>
	        </div>
		{% endif %}
        {% endif %}
    </div>


     <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        {% if show_informe %}
		    <li class="nav-item">
		        <a class="nav-link {% if not show_informe or informe == None %} active {% endif %}" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Anteproyecto</a>
		    </li>
		    <li class="nav-item">
		        <a class="nav-link {% if informe != None %} active {% endif %}" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Informe</a>
		    </li>
        {% endif %}
		{% if notas_estudiantes != None %}
        <li class="nav-item">
            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-operaciones" role="tab" aria-controls="pills-operaciones" aria-selected="false">Operaciones</a>
        </li>
        {% endif %}
    </ul>
</div>

{% endif %}

<input type="hidden" id="form_action" value="{{ form_action }}">

{% endblock %}
