body{
	font-size:12px;
}
.imagenCabecera{
	width:100%;
	height:100%;
}

.tableCabecera{
	text-align:center;
	border:solid 0px black;
}

.fecha_impresion{
	color:gray;
}
.tableCabecera th, .tableCabecera td{
	border:solid 0px white;
}

table{
	width:100%;
	border-collapse:collapse;
	border:solid 1px gray;
}
th, td{
	padding-top:2px;
	padding-bottom:-2px;
	padding-left:3px;
	border:solid 1px gray;
}

.header_color th{
	text-align:left;
	background-color:#dfeefb;
	color:#2d6fb5;
	border:solid 1px #2d6fb5;
}
#texto_adicional{
	margin-top:20px;
	text-align:left;
	padding:5px 10px;
}

@page {
	font-size:12px;
    size: A4 portrait;
    margin: 1.5cm 1.5cm 1.5cm 1.5cm; 
    border: green; 
	@bottom-left {
		border-top:solid 1px gray;
		content: 'Programa de ingeniería electrónica, BdTgrado(c)';
	}
	@bottom-right {
		border-top:solid 1px gray;
		content: "Página " counter(page) " de " counter(pages);
	}
}
