.timeline {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.li {
  transition: all 200ms ease-in;
  color:gray;
}

.timestamp {
  margin-bottom: 20px;
  padding: 0px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 100;
}

.status {
  padding: 0px 40px;
  display: flex;
  justify-content: center;
  border-top: 2px solid #D6DCE0;
  position: relative;
  transition: all 200ms ease-in;
}
.text_status {
  font-weight: 600;
  margin-top:15px;
  font-size:17px;
  cursor:pointer;
}
.status:before {
  content: "";
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 25px;
  border: 1px solid #ddd;
  position: absolute;
  top: -15px;
  left: 42%;
  transition: all 200ms ease-in;
}

.li.complete .status {
  border-top: 2px solid #66DC71;
}
.li.complete .status:before {
  background-color: #66DC71;
  border: none;
  transition: all 200ms ease-in;
}
.li.complete .status .text_status {
  color: #66DC71;
}

.li.complete_bad .status{
  border-top: 2px solid red;
}
.li.complete_bad .status:before{
  background-color: red;
  border: none;
  transition: all 200ms ease-in;
}
.li.complete_bad .status .text_status {
  color: red;
}


@media (max-device-width: 700px) {
  .timeline {
    list-style-type: none;
  	flex-direction: column;
  }
}

