{% extends "structure.html" %}

{% block content_body %}

{% if user.email == "" %}

	<div class="card border-warning mb-6">
		<div class="card-body text-warning">
			<h5 class="card-title">Datos de perfil faltantes</h5>
			<p class="card-text">Hemos detectado que faltan datos de tu perfil, por favor llénalos ingresando al <a href="/user/profile">siguiente enlace</a>.</p>
		</div>
	</div>
	<hr />
{% endif %}

{% if user.es_admin and admin_acciones %}
	<div class="row">

		<div class="col-lg-12 mt-5">
			<div class="card">
			    <div class="card-body">
					<h3>Acciones pendientes como administrador</h3>
					<div class="row">
					    {% if anteproyectos_falta|length > 0 %}
					    	<div class="col-lg-6">
								<hr />
								<h5 class="header-title col-sm-11">Asignación de evaluadores Anteproyectos </h5>
								<div class="list-group">
								{% for ante in anteproyectos_falta %}
									<a class="list-group-item" href="/tgrado/view/{{ ante.pk }}" title="Visitar tgrado">
										{{ ante.tgrado_titulo }}
									</a>
								{% endfor %}
								</div>
							</div>
						{% endif %}
						
					    {% if informes_falta|length > 0 %}
					    	<div class="col-lg-6">
								<hr />
								<h5 class="header-title col-sm-11">Asignación de evaluadores Informes </h5>
								<div class="list-group">
								{% for ante in informes_falta %}
									<a class="list-group-item" href="/tgrado/view/{{ ante.pk }}" title="Visitar tgrado">
										{{ ante.tgrado_titulo }}
									</a>
								{% endfor %}
								</div>
							</div>
						{% endif %}
						
						{% if fecha_sustentacion_falta|length > 0 %}
					    	<div class="col-lg-6">
								<hr />
								<h5 class="header-title col-sm-11">Asignación de fecha de sustentación </h5>
								<div class="list-group">
								{% for ante in fecha_sustentacion_falta %}
									<a class="list-group-item" href="/tgrado/view/{{ ante.pk }}" title="Visitar tgrado">
										{{ ante.tgrado_titulo }}
									</a>
								{% endfor %}
								</div>
							</div>						
						{% endif %}
						
					    {% if terminar_falta|length > 0 %}
					    	<div class="col-lg-6">
								<hr />
								<h5 class="header-title col-sm-11">Finalizar TGrados </h5>
								<div class="list-group">
								{% for ante in terminar_falta %}
									<a class="list-group-item" href="/tgrado/view/{{ ante.pk }}" title="Visitar tgrado">
										{{ ante.tgrado_titulo }}
									</a>
								{% endfor %}
								</div>
							</div>
						{% endif %}
					</div>
			    </div>
			</div>
		</div>
		
		
		
	</div>
	<hr />
{% endif %}
{% if user.es_evaluador and evaluador_acciones %}
	<div class="row">
		
		<div class="col-md-12 mt-5">
			<div class="card">
			    <div class="card-body">
					<h3>Acciones como Evaluador</h3>					
					
					<div class="row">
					    {% if lista_con_an|length > 0 %}
					    	<div class="col-md-6">
								<hr />
						   		<h5 class="header-title col-sm-11">Requerimiento de concepto Anteproyecto </h5>
								<div class="list-group">
								{% for ante in lista_con_an %}
									<a class="list-group-item" href="/tgrado/view/{{ ante.pk }}" title="Visitar tgrado">
										{{ ante.tgrado_titulo }}
									</a>
								{% endfor %}
								</div>
							</div>
						{% endif %}
						
					    {% if lista_con_in|length > 0 %}
					    	<div class="col-md-6">
								<hr />
								<h5 class="header-title col-sm-11">Requerimiento de concepto Informe </h5>
								<div class="list-group">
								{% for ante in lista_con_in %}
									<a class="list-group-item" href="/tgrado/view/{{ ante.pk }}" title="Visitar tgrado">
										{{ ante.tgrado_titulo }}
									</a>
								{% endfor %}
								</div>
							</div>
						{% endif %}
						
						
						{% if lista_con_no|length > 0 %}
					    	<div class="col-md-6">
								<hr />
								<h4 class="header-title col-sm-11">Requerimiento de Notas </h4>
								<div class="list-group">
								{% for ante in lista_con_no %}
									<a class="list-group-item" href="/tgrado/view/{{ ante.pk }}" title="Visitar tgrado">
										{{ ante.tgrado_titulo }}
									</a>
								{% endfor %}
								</div>
							</div>
						{% endif %}					
					</div>
			    </div>
			</div>
		</div>
	</div>
{% endif %}
<div class="row">
	{% if fechas_cal|length > 0%}
		<div class="col-ml-4 col-lg-4 mt-5">
			<div class="card">
			    <div class="card-body">
			        <h4 class="header-title"><a href="/calendario">Calendario</a></h4>
			        <div class="timeline-area">
			        	
			        	{% for fe in fechas_cal %}
					        <div class="timeline-task">
					            <div class="icon bg1">
					                <i class="fa fa-calendar"></i>
					            </div>
					            <div class="tm-title">
					                <h4>{{fe.fecha_inicio|date:"M d, Y"}} - {{fe.fecha_fin|date:"M d, Y"}}</h4>
					                <span class="time"><i class="ti-time"></i>00:00</span>
					            </div>
					            <p>
					            	{{ fe.descripcion }}
					            </p>
					        </div>
			            {% endfor %}
		           </div>	                
			    </div>
			</div>
		</div>
	{% endif %}
	{% if not user.es_estudiante %}
		<div class="col-lg-8">
			<div class="row">
				<div class="col-md-6 mt-5 mb-3">
					<a href="/tgrado">
						<div class="card">
						    <div class="seo-fact sbg1">
						        <div class="p-4 d-flex justify-content-between align-items-center">
						            <div class="seofct-icon"><i class="fa fa-book"></i> Tgrados</div>
						            <h2>{{ nro_tgrados }}</h2>
						        </div>
						        <canvas id="seolinechart1" height="50"></canvas>
						    </div>
						</div>
					</a>
				</div>
				<div class="col-md-6 mt-md-5 mb-3">
					<a href="/tgrado">
						<div class="card">
						    <div class="seo-fact sbg2">
						        <div class="p-4 d-flex justify-content-between align-items-center">
						            <div class="seofct-icon"><i class="fa fa-flag"></i> Tg. terminados</div>
						            <h2>{{ nro_tgrados_finalizados }}</h2>
						        </div>
						        <canvas id="seolinechart2" height="50"></canvas>
						    </div>
						</div>
					</a>
				</div>
				<div class="col-md-6 mb-3 mb-lg-0">
					<a href="/estudiantes">
						<div class="card">
						    <div class="seo-fact sbg3">
						        <div class="p-4 d-flex justify-content-between align-items-center">
						            <div class="seofct-icon"><i class="fa fa-graduation-cap"></i> Estudiantes</div>
						            <h2>{{ nro_estudiantes }}</h2>
						        </div>
						        <canvas id="seolinechart2" height="50"></canvas>
						    </div>
						</div>
					</a>
				</div>
				<div class="col-md-6">
					<a href="/evaluadores">
						<div class="card">
						    <div class="seo-fact sbg4">
						        <div class="p-4 d-flex justify-content-between align-items-center">
						            <div class="seofct-icon"><i class="fa fa-users"></i> Evaluadores</div>
						            <h2>{{ nro_evaluadores }}</h2>
						        </div>
						        <canvas id="seolinechart2" height="50"></canvas>
						    </div>
						</div>
				   </a>
				</div>
			</div>
		</div>
	{% else %}
		<div class="col-ml-8 col-lg-8 mt-5">
			{% if tgrados != None %}
				{% for tg in tgrados %}
					<div class="card">
						<div class="card-body">
							<h4 class="header-title"><a href="/tgrado/view/{{ tg.pk }}">{{ tg.titulo }}</a></h4>
							<p><b>Modalidad: </b>{{ tg.modalidad }}</p>
						</div>
					</div>
					<hr />
				{% endfor %}
			{% else %}
				<div class="card">
					<div class="card-body">
						<p>No tienes trabajos de grado registrados, a continuación te mostramos la lista del banco de trabajos de grado actual</p>
					</div>
				</div>
				<hr />
				{% for bn in lista_banco %}
					<div class="card">
						{% if bn.es_activo %}
						<div class="card-header border-success text-success">
							<strong class="text-success">Activo</strong> - {{ bn.titulo }}
						</div>
						{% else %}		
						<div class="card-header border-danger text-danger">
							<strong class="text-danger">Inactivo</strong> - {{ bn.titulo }}
						</div>
						{% endif %}
						<div class="card-body">
							<p>{{ bn.descripcion }}</p>
							<footer class="blockquote-footer" style="color:gray;">{{ bn.proponente }} ({{ bn.grupo }}), {{ bn.modalidad }} ({{ bn.fecha_modificacion }})</footer>
						</div>
					</div>
					<br />
				{% endfor %}

				{% if banco.has_other_pages %}
					<ul class="pagination">
						{% if banco.has_previous %}
							<li class="page-item"><a class="page-link" href="?page={{ banco.previous_page_number }}">&laquo;</a></li>
						{% else %}
							<li class="page-item disabled"><a class="page-link">&laquo;</a></li>
						{% endif %}
						{% for i in banco.paginator.page_range %}
							{% if banco.number == i %}
								<li class="page-item active"><a class="page-link">{{ i }}</a></li>
							{% else %}
								<li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
							{% endif %}
						{% endfor %}
						{% if banco.has_next %}
							<li class="page-item"><a class="page-link" href="?page={{ banco.next_page_number }}">&raquo;</a></li>
						{% else %}
							<li class="page-item disabled"><a class="page-link">&raquo;</a></li>
						{% endif %}
					</ul>
				{% endif %}
			{% endif %}
		</div>
	{% endif %}
</div>



{% endblock %}
